.body { font-size: 48px; font-family: sans-serif }
header * { font-size: 24px; }
#signoffButton { float: right;}
#loginDiv { width: 600px; }
#loginButton { height: 2em; width: 100%; }
#loginTable { width: 100%; }
#loginTable input { height: 2em; width: 100%; }
.highlightCrossing { background-color: #ccffcc; font-size: 36px; }
.highlightRow { background-color: #ccffff; }
.highlightCol { background-color: #ffffcc; }
.green { color: green }
.red { color: red }
.greenmark { color: green }
.admin { font-size: 14px; }
#adminRunMatrixList {  }
#adminGameDurationInput { width: 60px; }
#adminRollCallDurationInput { width: 40px }
