.user { font-size: 48px; font-family: sans-serif }
header * { font-size: 32px; }
#readyButton {font-size: 48px; }
#signoffButton { float: right;}
#loginDiv { width: 600px; }
#loginDiv * { font-size: 48px; font-family: sans-serif }
#loginButton { height: 2em; width: 100%; }
#loginTable { width: 100%; }
#loginTable input { height: 2em; width: 100%; }
.highlightCrossing { background-color: #ccffcc; font-size: 48px; }
.highlightRow { background-color: #ccffff; }
.highlightCol { background-color: #ffffcc; }
.green { color: green }
.red { color: red }
.greenmark { color: green }
ul.nobullets { list-style-type: None; }

