div,p,span { font-size: 24px; }
#loginDiv { font-size: 48px; width: 600px; }
#loginButton { font-size: 48px; height: 2em; width: 100%; }
#loginTable { width: 100%; }
#loginTable input { font-size: 48px; height: 2em; width: 100%; }
.highlightCrossing { background-color: #ccffcc; font-size: 36px; }
.highlightRow { background-color: #ccffff; }
.highlightCol { background-color: #ffffcc; }
