.admin { font-size: 24px; }
span.matrixCounter { font-size: 36px; }
#adminDangerZone ul { list-style-type: None; }
#adminRunMatrixList {  }
#adminGameDurationInput { width: 60px; }
#adminRollCallDurationInput { width: 40px }
#adminLoginLists table { width: 100% }
#adminLoginLists th,td { padding: 10px; text-align:right; }
#adminMenu { width: 250px; float: left; background-color: yellow; }
#adminScreen { margin-left: 250px;  }
#adminMenuList li {color: blue; text-decoration: underline; }
div.clear { clear: both; }
#adminLoginListLimit { font-size: 18px; width: 90px; }
#adminRollCallButton { font-size: 18px; }
#adminGoButton { font-size: 18px; }
